#wrapper {
    background-color: grey;
    background-image: url(images/stars-7231873_1280.jpg);
    text-align: center;
    max-width: none;
    min-width: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
footer{
    background-image: url(images/stars-7231873_1280.jpg);
    text-align: center;
    max-width: none;
}
#wrapperB {
    background-color: grey;
    text-align: center;
    max-width: none;
    min-width: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
body {
    background-color: black;
}
nav {
    border-color: bisque;
    text-decoration: none;
    word-spacing: 40px;

    border-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
li{
    letter-spacing: 2px;
}
a{
    text-decoration:overline;
    text-decoration-line: overline 0 -2px 4px white;
    text-shadow: white;
    text-shadow: 0px 5px 5px black;
    border: 0px;
    color: white;
    border: 10px;
    font-weight: 500;
}
footer {
    height: 48px;
    margin-bottom: 30px;
    margin-top: 300px;
}
ul {
    list-style: none;
    text-align: center;
}
h1 {
    color: antiquewhite;
}
h3 {

    color: rgb(169, 246, 246);
}
p {
    color: antiquewhite;
    font-weight: 200;
}
#starlog {
    border: 10px;
    border-color: bisque;
    border-style: double;
}
form {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
textarea {
    height: 200px;
    width: 350px;
    margin: 30px;
}
table, th, tr{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: antiquewhite;
}
th {
    font-size: larger;
    color: aquamarine;
}
tr, td {
    border-style: solid;
    border-color: antiquewhite;
    color: bisque;
}
h2 {
    color: antiquewhite;
}